.movieDetails {
  margin: 0px 0 5px 90px;
  padding-top: 150px;
  width: 50%;
}

.movieDetailsPage {
  align-items: flex-start;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.movieImg {
  border-radius: 20px;
  flex: 1 1 300px;
  max-width: 500px;
}

.movieDetailsOverview {
  flex: 2 1 300px;
  margin: 20px;
}

.originalTitle {
  font-size: 20px;
  font-weight: bold;
  color: purple;
  font-style: italic;
}

.movieOverview {
  margin-top: 10px;
  padding: 10px 0;
}

.genres {
  display: inline;
  padding-right: 10px;
  color: purple;
}

.voteStar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vote {
  padding-right: 5px;
  color: gold;
}

.star {
  color: gold;
}

.languages {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.watch {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid red;
  border-radius: 8px;
  background-color: red;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.watch:hover {
  background-color: white;
  color: red;
  border-color: red;
}

.videoContainer {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  margin-top: 20px;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movieImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.backButton {
  display: none; 
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
}
.backIcon{
  display: none;
}

@media (max-width: 768px) {
  .movieDetails {
    width: 100%;
    padding-top: 130px;
    margin-left: 20px;
  }

  .overview {
    flex-direction: column;
    align-items: flex-start;
  }

  .movieOverview {
    margin: 0;
  }

  .movieImg {
    width: 100%;
    max-width: 300px;
  }

  .movieDetailsOverview {
    width: 100%;
    margin-left: 0;
  }

  .videoContainer {
    padding-top: 56.25%;
    margin-left: 20px;
    width: 85%;
  }

  .movieImages {
    justify-content: flex-start;
    margin-left: 20px;
  }

  .backIcon {
    display: flex;
    color: gold;
    font-size: 20px;

  }
  .back{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
