.aboutPage {
  padding: 150px 0 0 20px;
  margin-bottom:75px ;
  font-size: 26px;
  font-family: cursive;
}

.title {
  color: red;
  margin-bottom: 20px;
}

.Nextflix {
  color: red;
  font-weight: bold;
}
.red{
    color: red;
    padding-top: 50px;
}

.bold {
  color: brown;
}
.point {
  padding-top: 40px;
}

